

<div class= "template">
    <%= image_tag( @shoe.image ) %>
    <div class = "title-background"><h1><%= @shoe.name class: "" %></h1></div>
</div>

<h3>Price: <%= @shoe.price %></h3>
<h3>In stock: <%= @shoe.stock %></h3>
<h3>Color: <%= @shoe.color %></h3>
<h3>Gender: <%= @shoe.gender %></h3>
<h3>Brand: <%= @shoe.brand %></h3>
<h3>Size: <%= @shoe.size %></h3>
<h3>  <li><a href="/cart/<%=@shoe.id%>">Add to cart</a></li>
 </h3>
