<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="template">
        <div class="left-side">
          <%= image_tag( @shoe.image, class: "img-show" ) %>
        </div>
        <div class = "title-background"><h1 class = "big-title"><%= @shoe.name %></h1>
        </div>
      </div>
    </div>

    <div class = "col-sm-12 col-md-7">
      <div class = "text-background">
        <h3 class = "text-title">Brand: <%= @shoe.brand %></h3>
        <div class = "text-block">

              <% if @shoe.color != nil %>
                <h3 class = "text-text">Color: <%= @shoe.color %></h3>
              <%end%>
              <h3 class = "text-text">Price: <%= @shoe.price %>  €</h3>
              <% if @shoe.stock < 15 %>
                <h3 class = "text-text text-danger">Only <%= @shoe.stock %> left in stock!</h3>
              <%end%>

        </div>
        <div>
            <h3><a class = "btn btn-default btn-lg button-card" href="/cart/<%=@shoe.id%>">Add to cart</a></h3>
            <h3><a class = "btn btn-default btn-lg" href="/categories/">Go Back</a></h3>

      </div>
       </div>
    </div>
   </div>
  </div>
<br>
<% if @shoe.reviews.count > 0 %>
  <h4 class="rev-note">
    <%= link_to "Read all " + @shoe.reviews.count.to_s + " reviews", shoe_reviews_path(@shoe.id) %>
  </h4>
<%end%>
