<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shoestore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
<body>
  <img src="http://www.designbolts.com/wp-content/uploads/2012/12/Classic-45-degree-seamless-pattern-for-website-background.jpg" id="bg">
  <%= render "layouts/header" %><br/>

  <div class="main">
    <p class="notice" >
      <% unless notice.nil? %>
        <div class="notice-msg">
          <%= notice %>
        </div>
      <% end %>
    </p>
    <p class="alert">
      <% unless alert.nil? %>
        <div class="alert-msg">
          <%= alert %>
        </div>
      <% end %>
    </p>

    <%= yield %>


  </div>

  <%= render "layouts/footer" %>
</body>
</html>
